@charset "utf-8";

* {
	margin: 0px;
	padding: 0px;
}

html, body {
	background-color: #fcfcff;
	color: #668;
	font-family: 'Play','Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
	font-size: 12pt;
	line-height: 2;
	text-align: center;
	width: 100%;
	height: 100%;
	min-width: 512px;
}

a, a:visited {
	color: dodgerblue;
	text-decoration: underline;
}

a:hover, a:active {
	color: orchid;
}

h1 {
	font-size: 64pt;
	margin: 30px 0px;
	text-shadow: 0px 0px 5px #99f;
}

h2 {
	font-size: 24pt;
	text-shadow: 0px 0px 5px #99f;
}

h3 {
	font-size: 14pt;
	margin: 30px 0px;
}

p {
	margin: 5px;
}

em, strong {
	font-style: normal;
	font-weight: bold;
}

img {
	border: 0px;
}

ul {
	text-align: left;
	list-style: none;
}

li {
	margin-left: 15px;
}

code {
	font-family: 'consolas','monaco',monospace;
}

header {
	width: 100%;
}

section {
	margin: 50px auto;
	max-width: 1000px;
}

footer {
	color: #99c;
	font-size: 12pt;
	margin: 50px 0px 0px;
	width: 100%;
}

#wrap {
	width: 100%;
	height: 100%;
}

#screen {
	background-color: #333;
	width: 100%;
	height: 512px;
	box-shadow: 0px 0px 30px 15px #eef;
}

#screen #canvas {
	margin: 0px auto;
	width: 512px;
	height: 512px;
}

#screen #menu {
	border: 3px solid #eef;
	border-radius: 5px;
	width: 100px;
	height: 30px;
	position: absolute;
	top: 465px;
	right: 20px;
}

#screen #menu a {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 3px;
	color: #eef;
	line-height: 24px;
	text-decoration: none;
	margin: 3px;
	width: 94px;
	height: 24px;
	display: block;
}

#screen #menu a:hover {
	background-color: rgba(125, 125, 250, 0.75);
}

#content {
	width: 100%;
}

.entry {
	border-radius: 10px;
	padding: 0px 0px 10px;
	margin: 20px 25px 50px;
	width: 280px;
	display: inline-block;
	box-shadow: 0px 0px 10px 0px #eef inset;
}

.entry img {
	margin: 0px auto;
	width: 250px;
	height: 250px;
	cursor: pointer;
	box-shadow: 0px 0px 5px 0px #99f;
}


